@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap');

* {
	margin: 0;
	padding: 0;
	text-decoration: none;
	box-sizing: border-box;
}

body {
	scroll-behavior: smooth;
	font-family: 'Lato', sans-serif;
	font-weight: 400;
	font-style: normal;
}

img {
	display: block;
	max-width: 100%;
}

button {
	background: none;
	border: none;
	cursor: pointer;
	outline: none;
}

.container {
	max-width: 1140px;
	margin: 0 auto;
}

header {
	background-color: #000;
	padding: 19px 0;
}

.header__wrapper {
	display: flex;
	justify-content: space-between;
}

.header__left-side {
	display: flex;
	align-items: center;
	gap: 40px;
}

.header__right-side {
	position: relative;
	display: flex;
	gap: 30px;
}

.header__search:hover svg,
.header__burger:hover svg,
.header__account:hover svg,
.header__cart:hover svg {
	fill: brown;
}

.header__counter {
	width: 20px;
	height: 20px;
	background-color: rgba(241, 109, 127, 1);
	border-radius: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
	color: #fff;
	font-size: 12px;
	line-height: 14.4px;
	position: absolute;
	top: -5px;
	right: -9px;
}

.banner {
	background-color: #f1e4e6;
	margin-bottom: 65px;
}

.banner__wrapper {
	max-width: 1600px;
	margin: 0 auto;
	display: flex;
	align-items: center;
	gap: 60px;
}

.block-vert-line {
	border-left: 12px solid rgba(241, 109, 127, 1);
	padding-left: 16px;
}

.fashion {
	color: rgba(241, 109, 127, 1);
}

.banner__text h1 {
	font-weight: 900;
	font-size: 48px;
	line-height: 57.6px;
}

.banner__text h2 {
	font-weight: 700;
	font-size: 32px;
	line-height: 38.4px;
}

/* Секция карточек категорий */

.category-list {
	margin-bottom: 96px;
}

.category-list__wrapper {
	display: flex;
	gap: 30px;
	flex-wrap: wrap;
}

.category {
	width: 360px;
	height: 260px;
}

.category-accs {
	width: 1140px;
	height: 180px;
}

.category_blackout {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 5px;
	background-color: rgba(33, 22, 22, 0.7);
	width: 100%;
	height: 100%;
}

.category_blackout h3 {
	color: #fff;
	font-size: 16px;
	line-height: 19.2px;
}

.category_blackout h4 {
	line-height: 28.8px;
	color: rgba(241, 109, 127, 1);
	font-weight: 700;
	font-size: 24px;
}

.list-items {
	margin-bottom: 95px;
}

.list-items__title {
	text-align: center;
	font-size: 30px;
	line-height: 36px;
	margin-bottom: 6px;
}

.list-items__description {
	text-align: center;
	color: #9f9f9f;
	font-size: 14px;
	line-height: 16.8px;
	margin-bottom: 48px;
}

.list-items__wrapper {
	display: flex;
	gap: 30px;
	flex-wrap: wrap;
	margin-bottom: 48px;
}

.list-items__item {
	background-color: #f8f8f8;
	max-width: 360px;
	max-height: 581px;
}

.item__img {
	width: 360px;
	height: 420px;
}

.item__description {
	padding: 25px 30px 20px 16px;
}

.item__description h3 {
	font-size: 13px;
	line-height: 15.6px;
	margin-bottom: 13px;
}

.item__description p {
	color: rgba(93, 93, 93, 1);
	font-size: 14px;
	font-weight: 300;
	line-height: 16.8px;
	margin-bottom: 18px;
}

.item__description span {
	color: rgba(241, 109, 127, 1);
	font-size: 16px;
	line-height: 19.2px;
}

.item__img_blackout {
	display: flex;
	opacity: 0;
	align-items: center;
	justify-content: center;
	width: 100%;
	height: 100%;
	background-color: rgba(58, 56, 56, 0.86);
}

.item__img_blackout button {
	border: 1px solid #fff;
	padding: 10px 17px 10px 13px;
	background-color: transparent;
	color: #fff;
	font-size: 14px;
	line-height: 16.8px;

	display: flex;
	align-items: center;
	gap: 11px;
}

.item__img_blackout button::before {
	content: url('./img/cartBtn.svg');
}

.item__img:hover .item__img_blackout {
	opacity: 100;
	transition: all 0.5s ease-in-out;
}

.list-items__btn {
	display: flex;
	justify-content: center;
}

.list-items__btn button {
	color: #f16d7f;
	background-color: transparent;
	padding: 15px 40px;
	margin-bottom: 20px;
	font-size: 16px;
	line-height: 19.2px;
	border: 1px solid #ff6a6a;
	transition: all 0.3s ease-in-out;
}

.list-items__btn button:hover {
	background-color: #ff6a6a;
	color: #fff;
}

.image-section {
	background-color: #222224;
	/* max-width: 1600px; */
	min-height: 341px;
}

.image-section__wrapper {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 100px 0;
	/* gap: 150px; */
}

.cards_sections {
	max-width: 360px;
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 20px;
	/* padding-top: 5px; */
}

.cards_sections h4 {
	align-items: center;
	color: #fbfbfb;
	font-size: 20x;
	font-weight: 400;
}

.cards_sections p {
	color: #fbfbfb;
	text-align: center;
	font-family: Lato;
	font-size: 14px;
	font-weight: 300;
	line-height: normal;
}

.cards_sections img {
	height: 40px;
}

.sub-card {
	min-height: 448px;
	position: relative;
}

.background-image {
	background: url('./img/aside.png') no-repeat center;
	background-size: cover;
	opacity: 0.5;
	width: 100%;
	height: 100%;
	position: absolute;
	z-index: -1;
}

.sub-card__wrapper {
	display: flex;
	align-items: center;
	justify-content: space-between;
	min-height: 448px;
}

.cards-subs {
	padding-top: 2px;
	line-height: 30px;
	display: flex;
	text-align: center;
	justify-content: center;
	flex-direction: column;
}

.email-form {
	display: flex;
	margin-top: 20px;
}

.email-input {
	padding: 8px 22px;
	color: #222224;
	border-radius: 50px 0 0 50px;
	height: 49px;
	width: 240px;
	border: none;
	background: #e1e1e1;
}

.email-button {
	padding: 10px 20px;
	background-color: #e05c6e;
	border-radius: 0 50px 50px 0;
	color: white;
	border: none;
	cursor: pointer;
	width: 100px;
	height: 49px;
}

.background {
	background-color: #222224;
	padding: 24px 0;
}

.text {
	color: #fbfbfb;
}

.footer__wrapper {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.socials {
	display: flex;
	gap: 13px;
}

.socials a {
	width: 32px;
	height: 32px;
	background-color: #fff;
	display: flex;
	justify-content: center;
	align-items: center;
}

.socials a svg {
	height: 16px;
}

.socials a:hover {
	background-color: #f16d7f;
}

.socials a:hover svg {
	fill: #fff;
}

input[type=number] {
	-moz-appearance: textfield;
}

.wrapper {
	max-width: 1200px;
	margin: 0 auto;
}

.carts {
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	gap: 5px;
}

.cart {
	margin-left: 150px;
	margin-bottom: 30px;
	width: 652px;
	height: 240px;
	box-shadow: 17px 19px 24px 0 rgba(0, 0, 0, 0.13);
	display: flex;
	position: relative;
}

.cart__description {
	padding: 22px 97px 62px 31px;
}

.cart__name {
	font-weight: 400;
	font-size: 24px;
	color: #222;
	margin-bottom: 42px;
	max-width: 200px;
}

.cart__list {
	display: flex;
	flex-direction: column;
	gap: 6px;
}

.cart__list__desc {
	font-weight: 400;
	font-size: 22px;
	color: #575757;
}

.cart__list__desc__red {
	color: #ef5b70;
}

.cart__list__desc__grey {
	color: #6f6e6e;
}

.cart__list__desc__input {
	width: 44px;
	height: 24px;
	text-align: center;
	font-weight: 400;
	font-size: 18px;
	color: #656565;
}

.button__close {
	position: absolute;
	top: 28px;
	right: 22px;
	background: none;
	border: none;
}

@media (max-width: 1270px) and (min-width: 768px) {
	.container {
		max-width: 736px;
	}

	.banner__wrapper {
		max-width: 768px;
		gap: 39px;
	}

	.banner__wrapper img {
		max-height: 368px;
	}

	.banner__text h1 {
		font-size: 44px;
		line-height: 52.8px;
	}

	.banner__text h2 {
		font-size: 24px;
		line-height: 22.8px;
	}

	.category-list__wrapper {
		gap: 19px;
	}

	.category {
		width: 232px;
		height: 168px;
		background-size: contain;
	}

	.category-accs {
		width: 734px;
		height: 116px;
		background-size: contain;
	}

	.list-items__wrapper {
		gap: 16px;
	}

	.image-section__wrapper {
		flex-direction: column;
		gap: 50px;
	}

	.sub-card {
		min-height: 693px;
	}

	.sub-card__wrapper {
		flex-direction: column;
		min-height: 693px;
		justify-content: center;
		gap: 48px;
	}
}

@media (max-width: 767px) {
	.container {
		max-width: 343px;
	}

	.container-mobile {
		max-width: 360px;
	}

	.header__account,
	.header__cart,
	.header__counter {
		display: none;
	}

	.banner__wrapper {
		min-height: 363px;
		justify-content: center;
	}

	.banner__wrapper img {
		display: none;
	}

	.banner__text h1 {
		font-size: 38px;
		line-height: 45.6px;
	}

	.banner__text h2 {
		font-size: 20px;
		line-height: 24px;
	}

	.category-accs {
		width: 343px;
		height: 111px;
		background-position: center;
		background-size: cover;
	}

	.image-section__wrapper {
		flex-direction: column;
		gap: 50px;
	}

	.sub-card {
		min-height: 550px;
	}

	.sub-card__wrapper {
		min-height: 550px;
		flex-direction: column;
		justify-content: center;
		gap: 59px;
	}
	.background {
		padding: 43px 0 9px 0;
	}

	.footer__wrapper {
		flex-direction: column-reverse;
		gap: 40px;
	}
}
